:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #d9dfd0;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::selection {
  background: #d5e7cb;
}
